body {
    background-color: Grey;
    padding-top: 50px;
    font-family: Helvetica, Arial, sans-serif;
}

.test {
    width: 500px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid rgb(200,200,200);
    border-top: 3px solid lime;
    padding: 50px 15px;
}

img {
    border-radius: 8px;
    padding: 5px;
  width: 350px;
}